
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
}

nav {
    background: #367ae9;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px; 
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-top: 20px;
    color: #38bdf8;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box; 
}
button {
    background: #38bdf8;
    border: none;
    padding: 10px 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #7dd3fc;
}